doctype 5
html(lang="en")
  head
    title #{pageTitle}!!!
    script(src="/socket.io/socket.io.js")
    script(src="/assets/lib/jquery-1.9.1.min.js")
    script(type="text/javascript")
      $.get('client.js')
  body
    h1 #{pageTitle}
    #output 
      b Messages:
      p#text
    